<div id="wrapper">

    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
                <a href="#">
                    Lead Management
                </a>
            </li>
            <!-- <li>
                <a href="#">Dashboard</a>
            </li>
            <li>
                <a href="#">Shortcuts</a>
            </li>
            <li>
                <a href="#">Overview</a>
            </li>
            <li>
                <a href="#">Events</a>
            </li> -->
            <% if current_user && current_user.is_manager? %>
                <li>
                    <a href="#">Lead Generators</a>
                </li>
            <% elsif current_user %>
                <li>
                    <a href="/leads?lead_id=<%=current_user.id%>">Leads</a>
                </li>
            <% end %>
            <li>
                <a href="#">Communication History</a>
            </li>
            <% if current_user && current_user.is_manager? %>
                <li>
                    <a href=<%=emails_url%>>Send Emails</a>
                </li>
             <% end %>   
        </ul>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <% if current_user && current_user.is_manager? %>
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <%= render partial: '/users/manager_leads' %>
                        <br><br>
                        <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Toggle Menu</a>
                    </div>
                </div>
            </div>
        </div>
      <% else %>
      <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Toggle Menu</a>  
     <% end %>
            
    <!-- /#page-content-wrapper -->

</div>
<!-- /#wrapper -->

<!-- Menu Toggle Script -->
<script>
$("#menu-toggle").click(function(e) {
    e.preventDefault();
    $("#wrapper").toggleClass("toggled");
});
</script>
